body {
    font-family: Arial, sans-serif;
    min-width: 600px;
    max-width: 700px;
    background-color: #1e1e1e;
    color: #fff;
}

.popup-container {
    padding: 15px;
}

h2 {
    font-size: 18px;
    margin: 0 0 10px;
    color: #4CAF50;
}

ul#history-list {
    list-style: none;
    padding: 0;
}

ul#history-list li {
    padding: 5px 0;
    border-bottom: 1px solid #333;
}

ul#history-list li a {
    color: #9CDCFE;
    text-decoration: none;
}

ul#history-list li a:hover {
    text-decoration: underline;
}

.dwm-nav {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;
    width: fit-content;
    /* top: 20px;
    left: 20px; */
}
.dwm-nav-item {
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    background: rgb(134, 134, 134);
    font-size: 12px;
    font-weight: bold;
    color: black;
    transition: background 0.3s, color 0.3s;
}

.dwm-nav-item:not(:last-child) {
    border-right: 1px solid black;
}
.dwm-nav-item.active {
    background: #005eff;
    color: rgba(255, 255, 255, 0.95);
}